@use "../../../styles/adaptive";
@use "../../../styles/variables";

.button {
	padding: 14px 22px;
	cursor: pointer;
	background-color: variables.$color-accent-light;
	border: none;
	border-radius: 24px;
	transition: all .2s ease-in-out;

	&:hover {
		background-color: variables.$color-accent-normal;

		.label {
			color: variables.$color-white;
		}
	}
}