@use "../../../styles/adaptive";
@use "../../../styles/variables";

.header {
	position: sticky;
	top: 0;
	left: 0;
	z-index: 10;
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 92px;
	background-color: variables.$color-white;
}

.logo {
	font-family: variables.$font-family-secondary;
	font-size: 30px;
	font-weight: variables.$font-weight-medium;
	line-height: 120%;
	color: variables.$color-black;
	letter-spacing: -0.05em;
	cursor: pointer;

	@include adaptive.mobile {
		letter-spacing: -0.08em;
	}
}

.navigation {
	display: flex;
	gap: 17px;
}

.link {
	cursor: pointer;

	&_text {
		transition: all .2s ease-in-out;
	}

	&:hover {
		.link_text {
			color: variables.$color-accent-dark;
		}
	}
}

.button {
	background-color: variables.$color-accent-dark;

	.label {
		color: white;
	}
}