@use "../../../styles/adaptive";
@use "../../../styles/variables";

.header {
	position: sticky;
	top: 0;
	left: 0;
	z-index: 10;
	height: 92px;
	background-color: variables.$color-white;
	border-bottom: 1px solid transparent;
	transition: all .2s ease-in-out;

	@include adaptive.mobile {
		height: 64px;
	}
}

.header_scrolled {
	border-bottom-color: variables.$color-primary-light;
	box-shadow: 0 2px 4px 0 rgb(0 0 0 / 5%);
}

.container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 100%;
}

.logo {
	font-family: variables.$font-family-secondary;
	font-size: 30px;
	font-weight: variables.$font-weight-medium;
	line-height: 120%;
	color: variables.$color-black;
	letter-spacing: -0.05em;
	cursor: pointer;

	@include adaptive.mobile {
		letter-spacing: -0.08em;
	}
}

.navigation {
	display: flex;
	gap: 17px;

	@include adaptive.mobile {
		display: none;
		flex-direction: column;
		gap: 18px;
		align-items: center;
	}
}

.navigation_active {
	display: flex;
	pointer-events: auto;
	opacity: 1;
}

.button {
	display: flex;
	gap: 4px;
	align-items: center;
	justify-content: center;
	background-color: variables.$color-accent-dark;

	.label {
		color: white;
	}

	@include adaptive.mobile {
		position: absolute;
		bottom: 100px;
		left: 50%;
		display: none;
		width: calc(100% - 32px);
		transform: translateX(-50%);
	}
}

/* MOBILE */
.navigation_mobile {
	position: fixed;
	top: 64px;
	left: 0;
	z-index: 9;
	display: none;
	flex-direction: column;
	gap: 18px;
	align-items: center;
	width: 100vw;
	height: calc(100vh - 64px);
	padding-top: 100px;
	pointer-events: none;
	background-color: white;
	opacity: 0;
	transition: all .2s ease-in-out;

	&_active {
		display: flex;
		pointer-events: auto;
		opacity: 1;
	}

	.navigation {
		display: flex;

		& p {
			font-size: 36px;
		}
	}

	.button {
		display: flex;
	}
}

.hamburger {
	position: relative;
	display: none;
	flex-direction: column;
	justify-content: space-evenly;
	width: 24px;
	height: 24px;
	padding: 3px;
	background-color: transparent;
	border: none;

	&_active {
		.bar {
			&:nth-child(1) {
				top: 11px;
				left: 2px;
				width: 20px;
				transform: rotate(45deg);
			}

			&:nth-child(2) {
				opacity: 0;
				transform: scale(0);
			}

			&:nth-child(3) {
				top: 11px;
				left: 2px;
				width: 20px;
				transform: rotate(-45deg);
			}
		}
	}

	@include adaptive.mobile {
		display: flex;
	}
}

.bar {
	position: absolute;
	left: 3px;
	width: 18px;
	height: 2px;
	background-color: variables.$color-black;
	border-radius: 1px;
	transition: all 0.3s ease-in-out;

	&:nth-child(1) {
		top: 5px;
	}

	&:nth-child(2) {
		top: 11px;
	}

	&:nth-child(3) {
		top: 17px;
	}
}
