@use "../../../styles/adaptive";
@use "../../../styles/variables";

.section {
	margin-bottom: 120px;
}

.header {
	display: flex;
	flex-direction: column;
	gap: 40px;
	align-items: center;
	padding: 80px 240px;
	text-align: center;

	@include adaptive.tablet {
		padding: 80px 80px 100px;
	}

	@include adaptive.mobile {
		padding: 80px 0 100px;
	}
}

.plans {
	display: grid;
	grid-template-columns: repeat(3, minmax(240px, 1fr));


	@include adaptive.mobile {
		padding: 6px 0;
		overflow: scroll hidden;
		scrollbar-width: none;
	}
}

.plan {
	position: relative;
	background-color: variables.$color-white;
	border-radius: 20px;

	&:nth-child(2) {
		z-index: 1;
		transform: scale(1.075);

		.plan_title {
			color: variables.$color-black;
			border: 2px solid;
			border-color: variables.$color-primary-light variables.$color-primary-light transparent variables.$color-primary-light;
		}
	}

	@include adaptive.tablet {
		&:nth-child(2) {
			z-index: 1;
			transform: scale(1.05);
		}
	}

	@include adaptive.mobile {
		&:nth-child(2) {
			z-index: 1;
			transform: scale(1.025);
		}
	}
}

.plan_title {
	padding-top: 40px;
	padding-bottom: 30px;
	font-family: variables.$font-family-secondary;
	font-size: 25px;
	font-weight: variables.$font-weight-medium;
	line-height: 120%;
	color: variables.$color-primary-normal;
	text-align: center;
	letter-spacing: -0.08em;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
}

.plan_line {
	width: 100%;
	height: 2px;
	background-color: variables.$color-primary-dark;
}

.plan_features {
	border: 2px solid variables.$color-primary-light;
	border-top-width: 0;
	border-bottom-right-radius: 20px;
	border-bottom-left-radius: 20px;
}

.plan_feature {
	display: flex;
	gap: 8px;
	align-items: center;
	padding: 30px;
	border-bottom: 1px solid variables.$color-primary-light;

	&:last-child {
		border-bottom: none;
	}

	@include adaptive.tablet {
		padding: 20px;
	}
}

.plan_icon {

}

.plan_text {
	color: variables.$color-black;
}