@use "../../../styles/adaptive";
@use "../../../styles/variables";

.title {
	font-family: variables.$font-family-primary;
	font-size: 60px;
	font-weight: variables.$font-weight-regular;
	line-height: 90%;
	color: variables.$color-black;

	@include adaptive.tablet {
		font-size: 54px;
		line-height: 90%;
	}

	@include adaptive.mobile {
		font-size: 50px;
		line-height: 95%;
	}
}