@use "../../../styles/adaptive";
@use "../../../styles/variables";

.section {
	margin-bottom: 140px;
}

.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 80px;
}

.steps {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 20px;
}

.step {
	padding-top: 60px;
	padding-right: 30px;
	border-top: 1px solid variables.$color-primary-light;
}

.step_count {
	margin-bottom: 60px;
	font-family: variables.$font-family-secondary;
	font-size: 80px;
	font-weight: variables.$font-weight-regular;
	line-height: 100%;
	color: variables.$color-primary-dark;
	letter-spacing: -0.04em;
}

.step_title {
	margin-bottom: 20px;
}

.step_description {

}