@use "../../../styles/adaptive";
@use "../../../styles/variables";

.section {
	display: flex;
	flex-direction: column;
	gap: 40px;
	align-items: center;
	justify-content: center;
	padding: 0 300px;
	margin: 160px 0 120px;
	text-align: center;
}

.button {
	display: flex;
	gap: 2px;
	align-items: center;
	justify-content: center;
	width: 100%;
	background-color: variables.$color-accent-dark;

	& p {
		color: white;
	}
}