@use "../../../styles/adaptive";
@use "../../../styles/variables";

.block {
	margin-top: 50px;
}

.partners {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	margin-top: 30px;
}

.partner {

}

.logo {
	width: 114px;
	height: 44px;
	object-fit: contain;
	transition: all .2s ease-in-out;

	&:hover {
		filter: grayscale(100%) brightness(0) saturate(0%) contrast(100%);
	}
}

.line {
	width: 100%;
	height: 1px;
	margin-top: 50px;
	background-color: variables.$color-primary-light;
}