@use "../../../styles/adaptive";
@use "../../../styles/variables";

.section {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 20px;
	align-items: center;
	margin-bottom: 200px;

	@include adaptive.tablet {
		display: flex;
		flex-direction: column;
		gap: 40px;
	}
}

.photo {
	border-radius: 30px;

	@include adaptive.mobile {
		border-radius: 20px;
	}
}

.info {
	padding-left: 50px;

	@include adaptive.tablet {
		padding-left: 0;
	}
}

.review {
	margin-bottom: 50px;
	font-size: 40px;
	line-height: 105%;
	color: variables.$color-black;
	letter-spacing: -0.04em;
}

.author {
	gap: 8px;
	align-items: center;
	margin-bottom: 8px;

	@include adaptive.mobile {
		display: flex;
	}
}

.author_name {
	color: variables.$color-black;
}

.profession {

}
